<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/todayMeal.css" th:href="@{/css/todayMeal.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="date">
    <a href="todayMeal/3/2024-08-16"
       th:href="@{/todayMeal/{type}/{date}(type=${data.type}, date=${data.getDate().minusDays(1)})}"
       class="leftTriangle"></a>
    <h2 th:text="|${data.getDate()}(${data.getDayOfWeek()})|">2024-08-17</h2>
    <a href="todayMeal/3/2024-08-16"
       th:href="@{/todayMeal/{type}/{date}(type=${data.type}, date=${data.getDate().plusDays(1)})}"
       class="rightTriangle"></a>
</div>

<div class="nav">
    <ul>
        <li><a href="/todayMeal/1" th:href="@{/todayMeal/1/{date}(date=${data.getDate()})}">본관</a></li>
        <li><a href="/todayMeal/2" th:href="@{/todayMeal/2/{date}(date=${data.getDate()})}">양성재</a></li>
        <li><a href="/todayMeal/3" th:href="@{/todayMeal/3/{date}(date=${data.getDate()})}">양진재</a></li>
    </ul>
</div>
    <div class="meal">
        <h4>아침</h4>
        <ul>
            <li th:each="menu : ${data.getMorning()}" th:text="${menu}">아침 메뉴</li>
        </ul>
    </div>

    <div class="meal">
        <h4>점심</h4>
        <ul>
            <li th:each="menu : ${data.getLunch()}" th:text="${menu}">점심 메뉴</li>
        </ul>
    </div>
    <div class="meal">
        <h4>저녁</h4>
        <ul>
            <li th:each="menu : ${data.getDinner()}" th:text="${menu}">저녁 메뉴</li>
        </ul>
    </div>
</body>
</html>